{{page-title "Create IPDC product"}}
<AuHeading @level={{1}} @skin={{2}} class="au-u-margin-bottom">Nieuw product
  aanmaken</AuHeading>
<form class="au-c-form">
  <AuFormRow @alignment="default">
    <AuLabel for="decision-uri">
      Besluit URI
    </AuLabel>
    <div class="au-u-flex au-u-flex--row au-u-4-5">
      <AuInput
        id="decision-uri"
        class="au-u-margin-right-small au-u-3-5"
        value={{this.decisionUri}}
        {{on "input" this.updateDecisionUri}}
      />
      <AuButton
        {{on "click" (perform this.fetchSuggestion)}}
        @loading={{this.fetchSuggestion.isRunning}}
      >
        Informatie opvragen
      </AuButton>
    </div>
  </AuFormRow>
  <AuFormRow @alignment="default">
    <AuLabel for="public-service-name">
      Titel
    </AuLabel>
    <AuInput
      id="public-service-name"
      class="au-u-2-5"
      value={{this.name}}
      {{on "input" this.updateName}}
    />
  </AuFormRow>
  <AuFormRow @alignment="default">
    <AuLabel for="public-service-description">
      Beschrijving
    </AuLabel>
    <AuTextarea
      id="public-service-description"
      class="au-u-2-5"
      value={{this.description}}
      {{on "input" this.updateDescription}}
    />
  </AuFormRow>
  <AuFormRow @alignment="default" class="au-u-3-5">
    <AuHeading
      @level={{2}}
      @skin={{3}}
      class="au-u-margin-bottom"
    >Voorwaarden</AuHeading>
    {{#each this.requirements as |requirement|}}
      <RequirementFormPanel
        @requirement={{requirement}}
        @remove={{fn this.removeRequirement requirement}}
      />
    {{/each}}
    <AuButton
      @icon="plus"
      @skin="naked"
      class="au-u-margin-top-small au-u-padding-left-none"
      {{on "click" this.addRequirement}}
    >Voorwaarde toevoegen</AuButton>
  </AuFormRow>
  <AuFormRow @alignment="default" class="au-u-3-5">
    <AuHeading
      @level={{2}}
      @skin={{3}}
      class="au-u-margin-bottom"
    >Kosten</AuHeading>
    {{#each this.costs as |cost|}}
      <CostFormPanel @cost={{cost}} @remove={{fn this.removeCost cost}} />
    {{/each}}
    <AuButton
      @icon="plus"
      @skin="naked"
      class="au-u-margin-top-small au-u-padding-left-none"
      {{on "click" this.addCost}}
    >Kost toevoegen</AuButton>
  </AuFormRow>
  <AuFormRow @alignment="default" class="au-u-3-5">
    <AuHeading
      @level={{2}}
      @skin={{3}}
      class="au-u-margin-bottom"
    >Procedures</AuHeading>
    {{#each this.procedures as |procedure|}}
      <ProcedureFormPanel
        @procedure={{procedure}}
        @remove={{fn this.removeProcedure procedure}}
      />
    {{/each}}
    <AuButton
      @icon="plus"
      @skin="naked"
      class="au-u-margin-top-small au-u-padding-left-none"
      {{on "click" this.addProcedure}}
    >Procedure toevoegen</AuButton>
  </AuFormRow>
  <AuFormRow>
    <AuButtonGroup>
      <AuButton {{on "click" (perform this.submit)}} @loading={{this.submit.isRunning}}>
        Verstuur
      </AuButton>
    </AuButtonGroup>
  </AuFormRow>
</form>